# Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/.idea/
*.iml

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner.xcworkspace/
ios/Pods/
Podfile.lock

# Web
web/.dart_tool/
web/build/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Others
*.tmp
*.lock
.idea/
